* {
    box-sizing: border-box;
}


body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
    background-color: #E1D9D6;
    scroll-behavior: smooth;
}

img {
    width: 100%;

}


#logo-kalklandet img {
    width: 200%;
}

#logo-kalklandet {
    position: fixed;
    z-index: 1000;
}


@font-face {
    font-family: 'limestoneregular';
    src: url('limestone_regular-webfont.woff2') format('woff2'),
        url('limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
span {
    font-family: 'limestoneregular', Arial, sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

a,
button,
span,
    {
    font-family: 'limestoneregular', Arial, sans-serif;
}


/*******************BURGERMENU********************/

#menuknap-mobile {
    width: 1.5em;
    height: 1em;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1vw;
    top: 0;
    color: white;
    z-index: 10001;
    cursor: pointer;
}

#mobile-nav {
    width: 100%;
    list-style-type: none;
    position: fixed;
    top: 4.9vw;
    display: grid;
    background-color: #776B5F;
    height: 500px;
    padding-top: 5vw;
    z-index: 2000;
}

#mobile-nav .drop-down {

    background-color: #776B5F;
    color: white;
}

#mobile-nav span {
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;


}

#mobile-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw;
    font-family: 'limestoneregular';
}



.drop-down {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #776B5F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #776B5F;
    min-width: 160px;

    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li {
    float: left;
}

.drop-down:hover .dropdown-content {
    display: block;
}

/********************MENU DESKTOP**********************/

.hidden {
    transform: scale(0);
}

#desktop {
    display: none;
}

/* Links inside the navbar */
#desktop a {
    display: block;
    position: relative;
}

#desktop .drop-down {
    float: right;
    position: relative;
    padding-right: 5vw;
    right: 4vw;
    top: 0.7vw;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5vw;
    font-family: 'limestoneregular';
}

#desktop .dropdown-content {
    font-size: 1.2vw;

}

#desktop span {
    font-weight: bold;
}

#desktop a {
    text-decoration: none;
    color: white;
    margin: 0.5vw 1vw;
}

#desktop .drop-down:hover {
    color: orange;
    cursor: pointer;
    transform: scale(2vw);
}

#desktop .drop-down a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    cursor: pointer;
}



#desktop .drop-down a:hover::after {
    width: 100%;
    //transition: width .3s;
}


#forside-content {
    margin: 5vw;
    display: grid;
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    top: 10vw;
}

#forside-content .overskrift {
    text-align: center;
    color: white;
}

#forside-content .indhold {
    color: white;
    text-align: center;
}

/**************ATTRAKTIONER BOX***************/

.besog,
.besog1,
.besog3 {
    text-align: center;
    color: #776B5F;
}


#attraktioner {
    display: grid;
    padding: 1em;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 10vw;
    margin-right: auto;
    margin-left: auto;

}

.muse {
    transition: transform .2s;
    margin-right: auto;
    margin-left: auto;
}

.muse:hover {
    cursor: pointer;
    transform: scale(1.1);
}


#koldkrigsmuseum {
    /*    border: 0.5px solid lightgrey;*/
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/koldkrigs-muse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
    border-radius: 15px;
}


#stevnsklint {
    /*    border: 0.5px solid lightgrey;*/
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/stevns-klint.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em 1em 1em 0;
    border-radius: 15px;
}

#geomuseum {
    /*    border: 0.5px solid lightgrey;*/
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/geomuse-faxe.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
    border-radius: 15px;
}

#stevnsnaturcenter {
    /*    border: 0.5px solid lightgrey;*/
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/stevns-natur.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em 1em 1em 0;
    border-radius: 15px;
}

#search {
    padding: 0.5em;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'limestoneregular';
}

.search-box {
    justify-self: center;
}

.slideshow-container {
    opacity: 0.5;
    padding-top: 5vw;
}


#index-velkommen {
    color: #776B5F;
    padding: 1vw;
}





/********** SLIDESHOW ***************/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}


@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*
@-webkit-keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: .2
    }
}
*/
/************ SLIDESHOW SLUT *****************/




/*************FOOTER***************/

.flex-rw {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    list-style-type: none;
}

footer {
    background: #776B5F;
    margin-top: auto;
    width: 100%;
}

.footer-list-top > li {
    padding-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
}


.footer-list-top > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}


.footer-list-top > li:hover::after {
    width: 50%;
    //transition: width .3s;
}

.footer-list-top a {
    text-decoration: none;
    color: white;
    font-family: 'limestoneregular';
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font-family: 'limestoneregular';
}

.footer-list-top p {
    color: white;
}

.footer-social-overlap {
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 2;
    justify-self: start;
    font-size: 6vw;
}

.space {
    margin-top: 10vw;

}

.text-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    margin-top: 5vw;
    margin-left: 2vw;
    max-width: 1200px
}

.search {
    float: left;
}

.start-tekst h4 {
    text-align: center;
}

.start-tekst p {
    margin-top: 0;
}

.start-headline {
    margin-bottom: 0;
}




/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 1160px) {

    #logo-kalklandet img {
        width: 110%;
    }

    #mobile-nav {
        display: none;
    }


    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2010;
        float: right;

    }

    #desktop .drop-down {
        color: white;
        background-color: #776B5F;
    }

    #menuknap-mobile {
        display: none;
    }

    #index-main {
        background-color: rgba(0, 0, 0, 0.29);
    }

    #index-velkommen {
        /*
        display: grid;
        grid-template-columns: 370px 550px 350px;
*/

        position: absolute;
        top: 5vw;
        color: #776B5F;
        margin-right: auto;
        margin-left: auto;
        color: white;
        text-shadow: 1px 1px 2px black;

    }

    .textbox-index {
        grid-column-start: 2;
        padding-left: 2vw;
        margin-right: auto;
        margin-left: auto;
        /*        line-height: 1vw;*/
    }

    .start-headline {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        font-size: 4em;
        margin-left: 15vw;
    }


    .start-tekst p:nth-child(1) {
        margin-top: 0;
        margin-left: 17vw;
        font-size: 1.3em;
    }

    .start-tekst h4 {
        margin-top: 5vw;
        text-align: center;
        font-size: 1.5em;
        margin-left: 20vw;
    }

    .start-headline {
        grid-column-start: 2;
    }

    .start-tekst {
        grid-column-start: 2;

    }

    #attraktioner {
        position: absolute;
        top: 21vw;
        left: 13vw;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        /*        background-color: rgba(0, 0, 0, 0.38);*/
    }


    .besog {
        position: absolute;
        left: 19vw;
        top: 12vw;
        text-align: center;
        color: white;
        font-size: 5vw;

    }

    .besog1 {
        position: absolute;
        top: 10vw;
        left: 25vw;
        color: white;
        font-size: 5vw;

    }

    .besog2 {
        position: absolute;
        top: 20vw;
        left: 30vw;
        color: white;
        font-size: 5vw;
    }

    .besog3 {
        position: absolute;
        top: 15vw;
        left: 25vw;
        color: white;
        font-size: 5vw;
    }

    #forside-content {
        display: block;
    }


    #stevnsnaturcenter {
        width: 200px;
        height: 205px;
        background-image: url(img/museum-logo/stevns-natur.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 1em;
    }

    #geomuseum {
        width: 200px;
        height: 205px;
        margin: 1em;
    }

    #stevnsklint {
        width: 200px;
        height: 205px;
        margin: 1em;
    }

    #koldkrigsmuseum {
        width: 200px;
        height: 205px;
        margin: 1em;
    }

    #ikoner-alle {
        padding: 1em 1em 0;
        position: absolute;
        top: 28vw;
        left: 24vw;
        grid-template-columns: auto auto auto;
        justify-content: center;
        /*        background-color: rgba(0, 0, 0, 0.38);*/
    }

    #bornehave-ikon {
        width: 180px;
        height: 185px;
    }

    #folkeskole-ikon {
        width: 180px;
        height: 185px;
    }

    #gymnasium-ikon {
        width: 180px;
        height: 185px;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }


    .ny_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer.flex-rw {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-decoration: none;
        list-style-type: none;
    }

    .footer-social-overlap i {
        font-size: 3vw;
    }

    .footer-list-header {
        font-size: 1.5em;
    }

    #bannerIkoner {
        padding: 1em 1em 0;
        position: absolute;
        top: 30vw;
        left: 20vw;
        grid-template-columns: auto auto auto auto;
        justify-content: center;

    }

    .text-box {
        grid-template-columns: auto auto;

    }

    .text-box .uv-intro {
        grid-column-start: 1;

    }

    .text-box .hurtig-info {
        grid-column-start: 2;
    }

    .text-box-kkm,
    .text-box-sk,
    .text-box-sn {
        grid-template-columns: auto 610px auto;
        max-width: 1200px;
    }

    .text-box-kkm p {
        grid-column-start: 2;

    }

    .text-box-kkm h3 {
        grid-column-start: 2;
        color: #387288;
    }

    .text-box-geo {
        grid-template-columns: auto 610px auto;
        max-width: 1200px;
    }

    .text-box-geo h3 {
        grid-column-start: 2;
    }

    .text-box-geo p {
        grid-column-start: 2;
    }


    .enkel {
        grid-template-columns: 1fr 1fr;

    }

    .enkel-geo,
    .enkel-sk,
    .enkel-sn {
        grid-template-columns: 1fr 1fr;
    }


    .column-right {
        justify-self: end;
        border-style: none;
        padding-right: 5vw;
    }

    .column-right-geo {
        justify-self: end;
        border-style: none;
        float: right;
    }

    .column-right-sk {
        justify-self: end;
        border-style: none;
        float: right;
    }

    .column-right-sn {
        justify-self: end;
        border-style: none;
        float: right;
    }


    .tekst-omos {
        padding: 2em 2em 2em;
        position: absolute;
        top: 12vw;
        margin: 5vw;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.38);
        color: white;

    }


    #omos-main {

        margin-top: 0;
    }

    #kontakt-main {
        margin-top: 0;
    }

    #tekst-omos {
        margin-left: 10vw;
    }
}
