* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
}

img {
    width: 100%;

}


#logo-kalklandet img {
    width: 150%;
}

#logo-kalklandet {
    position: fixed;
    z-index: 1000;
}


@font-face {
    font-family: 'limestoneregular';
    src: url('limestone_regular-webfont.woff2') format('woff2'),
        url('limestone_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
p {
    font-family: 'Limestone', Arial, sans-serif;
}

a,
button,
span {
    font-family: 'Limestone', Arial, sans-serif;
}




/*******************BURGERMENU********************/

#menuknap-mobile {
    width: 1.5em;
    height: 1em;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1vw;
    top: 0;
    color: white;
    z-index: 10001;
    cursor: pointer;
}

#mobile-nav {
    width: 100%;
    list-style-type: none;
    position: fixed;
    top: 4.1vw;
    display: grid;
    background-color: #B8B194;
    height: 500px;
    padding-top: 5vw;
}

#mobile-nav .drop-down {

    background-color: #B8B194;
    color: white;
}

#mobile-nav span {
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;


}

#mobile-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw;
}



.drop-down {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #B8B194;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B8B194;
    min-width: 160px;

    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li {
    float: left;
}

.drop-down:hover .dropdown-content {
    display: block;
}

/********************MENU DESKTOP**********************/

.hidden {
    transform: scale(0);
}

#desktop {
    display: none;
}

/* Links inside the navbar */
#desktop a {
    display: block;
    position: relative;
}

#desktop .drop-down {
    float: right;
    position: relative;
    padding-right: 5vw;
    right: 4vw;
    top: 1.3vw;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5vw;
    transition:
}

#desktop .dropdown-content {
    font-size: 1.2vw;

}

#desktop span {
    font-weight: bold;
}

#desktop a {
    text-decoration: none;
    color: white;
    margin: 0.5vw 1vw;
}

#desktop .drop-down:hover {
    color: orange;
    cursor: pointer;
    transform: scale(2vw)
}

#desktop .drop-down a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    cursor: pointer;
}



#desktop .drop-down a:hover::after {
    width: 100%;
    //transition: width .3s;

}


#forside-content {
    margin: 5vw;
    display: grid;
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    top: 10vw;
}

#forside-content .overskrift {
    text-align: center;
    color: white;
}

#forside-content .indhold {
    color: white;
    text-align: center;
}

/**************ATTRAKTIONER BOX***************/

.besog,
.besog1 {
    text-align: center;
}

#attraktioner {
    display: grid;
    padding: 1em;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 10vw;

}

.muse {
    transition: transform .2s;
}

.muse:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#koldkrigsmuseum {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/koldkrigs-muse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}


#stevnsklint {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/stevns-klint.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#geomuseum {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/geomuse-faxe.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#stevnsnaturcenter {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/museum-logo/stevns-natur.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}




/********** SLIDESHOW ***************/

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s cubic-bezier(.7, .12, .25, 1);
}

}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 4
    }

    to {
        opacity: 1
    }
}


/*************UNDERVISNINGSSIDEN***************/

.ny_container {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin: 3vw;

}

article img {
    width: 90%;
}


#ikoner-alle {
    display: grid;
    padding: 1em;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 10vw;
}

#bornehave-ikon {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/b%C3%B8rnehave.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}


#folkeskole-ikon {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/folkeskole.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#gymnasium-ikon {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/gymnasium.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#sectioner-uv {
    display: grid;
    padding: 1em;
    grid-template-columns: auto;
    text-align: center;
    margin-bottom: 10vw;
}

article {
    background-color: #D1CAB0;
    color: white;
}

#section-bornehave,
#section-folkeskole,
#section-gymnasium {
    text-align: left;
    padding: 1em;
    border-top: solid orange;
    color: orange;

}

.laesmere {
    text-decoration: none;
    padding: 10px 45px;
    margin-bottom: 1.5vw;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform .1s;
    font-size: 15px;
}

.laesmere:hover {
    transform: scale(1.1);
}



/************ SLIDESHOW SLUT *****************/




/*************FOOTER***************/

.flex-rw {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    list-style-type: none;
}

footer {
    background: #776B5F;
    margin-top: auto;
    width: 100%;
}

.footer-list-top > li {
    padding-bottom: 10px;
    list-style-type: none;
    text-decoration: none;
}


.footer-list-top > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #BFB595;
    transition: width .3s;
}


.footer-list-top > li:hover::after {
    width: 50%;
    //transition: width .3s;
}

.footer-list-top a {
    text-decoration: none;
    color: white;
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font-family: 'Limestone';
}

.footer-list-top p {
    color: white;
}

.footer-social-overlap {
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 2;
    justify-self: start;
    font-size: 6vw;
}

.space {
    margin-top: 10vw;
}


/*
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BFB595;
    color: white;
    text-align: center;
    word-spacing: 7px;
}

.some {
    position: fixed;
    top: 94%;
    left: 80%;
    color: white;
    font-size: 25px;
}

.some a:hover {
    color: ;
}

.fa-facebook {
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

.fa-instagram {
    color: white;
    padding-left: 10px;
    text-decoration: none;
}
*/

.uv-intro {}

.text-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    margin-top: 5vw;
    margin-left: 2vw;
    max-width: 1200px
}

.search {
    float: left;
}

/***********KOLDKRIGSMUSEUM***********/

#aabningstider {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/%C3%A5bningstider.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#aktuelt {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/aktuelt.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#billetter {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/billetter.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#findvej {
    border: 0.5px solid lightgrey;
    width: 150px;
    height: 155px;
    background-image: url(img/ikoner/findvej.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;
}

#bannerIkoner {
    display: grid;
    padding: 1em;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 10vw;
}

.text-box-kkm {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2vw;
    margin-top: 5vw;
    margin-left: 2vw;
    max-width: 1200px;

}

.enkel {
    background-color: #387288;
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom-style: 1px solid black;
}

.enkel img {
    width: 100%;
    max-width: 300px;

}

/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 1160px) {

    #logo-kalklandet img {
        width: 100%;
    }

    #mobile-nav {
        display: none;
    }


    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2010;
        float: right;

    }

    #desktop .drop-down {
        color: white;
        background-color: #B8B194;
    }

    #menuknap-mobile {
        display: none;
    }


    #attraktioner {
        padding: 1em 1em 0;
        position: absolute;
        top: 30vw;
        left: 15vw;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.38);
    }


    .besog {
        position: absolute;
        top: 15vw;
        left: 24vw;
        color: white;
        font-size: 4vw;
    }

    .besog1 {
        position: absolute;
        top: 15vw;
        left: 29vw;
        color: white;
        font-size: 4vw;
    }

    #forside-content {
        display: block;
    }


    #stevnsnaturcenter {
        border: 0.5px solid lightgrey;
        width: 180px;
        height: 185px;
        background-image: url(img/museum-logo/stevns-natur.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 1em;
    }

    #geomuseum {
        width: 180px;
        height: 185px;
    }

    #stevnsklint {
        width: 180px;
        height: 185px;
    }

    #koldkrigsmuseum {
        width: 180px;
        height: 185px;
    }

    #ikoner-alle {
        padding: 1em 1em 0;
        position: absolute;
        top: 27vw;
        left: 24vw;
        grid-template-columns: auto auto auto;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.38);
    }

    #bornehave-ikon {
        width: 180px;
        height: 185px;
    }

    #folkeskole-ikon {
        width: 180px;
        height: 185px;
    }

    #gymnasium-ikon {
        width: 180px;
        height: 185px;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }


    .ny_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer.flex-rw {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-decoration: none;
        list-style-type: none;
    }

    .footer-social-overlap i {
        font-size: 3.5vw;
    }

    .footer-list-header {
        font-size: 2em;
    }

    #bannerIkoner {
        padding: 1em 1em 0;
        position: absolute;
        top: 30vw;
        left: 15vw;
        grid-template-columns: auto auto auto auto;
        justify-content: center;

    }

    .text-box-kkm {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }

    .text-box-kkm p {
        grid-column-start: 2;
    }

    .enkel {
        grid-template-columns: 1fr 1fr;

    }

    .column-right {
        justify-self: center;
        border-style: none;
    }
}
