* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 100%;
}

img {
    width: 100%;
    background-size: cover;
}


#logo-kalklandet img {
    width: 70%;
    padding: 1em;
}

/*******************BURGERMENU********************/

#menuknap-mobile {
    width: 2em;
    height: 1.5em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0.5rem;
}

#mobile-nav {
    width: 100%;
    list-style-type: none;
    position: fixed;
    top: 10.2vw;
    text-align: center;

}

#mobile-nav .drop-down {
    display: block;
    background-color: white;
}

#mobile-nav .drop-down a {
    display: block;
}


.drop-down {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.drop-down:hover .dropdown-content {
    display: block;
}

/********************MENU DESKTOP**********************/

.hidden {
    transform: scale(0);
}

#desktop {
    display: none;
}

/* Links inside the navbar */
#desktop a {
    float: right;
    display: block;
    position: relative;
}




@media only screen and (min-width: 1160px) {

    #mobile-nav {
        display: none;
    }


    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        float: right;

    }

    #menuknap-mobile {
        display: none;
    }
}


/*
#background-img {
    position: relative;
    background-size: cover;

}

#koldkrigsmuseum {
    position: absolute;
    bottom: 13em;
    left: 5em;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#stevnsklint {
    position: absolute;
    bottom: 13em;
    left: 20em;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#geomuseum {
    position: absolute;
    bottom: 13em;
    left: 35em;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

button {
    float: right;
}
*/
