/*************KONTAKT***************/
h1 {
    text-align: center;
}

.kontakt-headline {
    color: white;
    font-size: 5vw;
    text-shadow: 1px 1px 2px black;
}


.info-box-kontakt {
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.ikoner-kontakt {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-bottom: 10vw;

}

#adresse-ikon {
    width: 100px;
    height: 105px;
    border-radius: 15px;
    background-image: url(img/ikoner/adresse-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;

}

.adresse-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.kontakt-adresse-text {
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

#adresse-ikon:hover .adresse-overlay {
    height: 100%;
}


#aebningstider-ikon {
    width: 100px;
    height: 105px;
    border-radius: 15px;
    background-image: url(img/ikoner/%C3%A5bningstider-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.aebningstider-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.kontakt-aebningstider-text {
    color: white;
    font-size: 2.1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

#aebningstider-ikon:hover .aebningstider-overlay {
    height: 100%;
}

#telfonnummer-ikon {
    width: 100px;
    height: 105px;
    background-image: url(img/ikoner/telefonnummer-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
}


.telefonnummer-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.kontakt-telefonnummer-text {
    color: white;
    font-size: 2.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

#telfonnummer-ikon:hover .telefonnummer-overlay {
    height: 100%;
}


@media only screen and (min-width: 992px) {
    .kontakt {
        padding: 2em 2em 2em;
        position: absolute;
        top: 12vw;
        left: 20vw;
        margin: 5vw;
        background-color: rgba(0, 0, 0, 0.38);
        color: white;
    }

    .ikoner-kontakt {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: 0;
    }

    .kontakt-telefonnummer-text {
        color: white;
        font-size: 1vw;
    }

    .kontakt-aebningstider-text {
        color: white;
        font-size: 1vw;
    }

    .kontakt-adresse-text {
        color: white;
        font-size: 1vw;
    }
}

/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 1160px) {

    #logo-kalklandet img {
        width: 110%;
    }

    #mobile-nav {
        display: none;
    }


    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2010;
        float: right;

    }

    #desktop .drop-down {
        color: white;
        background-color: #776B5F;
    }

    #menuknap-mobile {
        display: none;
    }

    #ikoner-alle {
        padding: 1em 1em 0;
        position: absolute;
        top: 28vw;
        left: 24vw;
        grid-template-columns: auto auto auto;
        justify-content: center;
        /*        background-color: rgba(0, 0, 0, 0.38);*/
    }
}

main {
    grid-template-columns: 1fr 1fr 1fr;
}


.text-box {
    grid-template-columns: auto auto;

}



#kontakt-main {
    margin-top: 0;
}

#tekst-omos {
    margin-left: 10vw;
}

#info-box-kontakt {
    padding: 1em 1em 0;
    position: absolute;
    top: 7vw;
    left: 24vw;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: rgba(119, 107, 95, 0.72);
}

#adresse-ikon {
    width: 180px;
    height: 185px;
    margin: 1em;
}

#aebningstider-ikon {
    width: 180px;
    height: 185px;
    margin: 1em;
}

#telfonnummer-ikon {
    width: 180px;
    height: 185px;
    margin: 1em;
}


}
