/*************UNDERVISNINGSSIDEN***************/

.ny_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin: 3vw;

}

.forside-data img {
    width: 90%;
}



#ikoner-alle {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-bottom: 10vw;

}

#bornehave-ikon {
    /*    border: 0.5px solid lightgrey;*/
    width: 100px;
    height: 105px;
    background-image: url(img/ikoner/b%C3%B8rnehave-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em;

}


#folkeskole-ikon {
    width: 100px;
    height: 105px;
    background-image: url(img/ikoner/folkeskole-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em 1em 1em 0;
}

#gymnasium-ikon {
    width: 100px;
    height: 105px;
    background-image: url(img/ikoner/gymnasium-dark.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1em 1em 1em 0;
}

h2 {
    color: orange;
}

.location {
    font-weight: 900;
}

.intro-text-uv {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2vw;
    margin-top: 5vw;
    margin-left: 2vw;
    max-width: 1200px;
    color: #776B5F;
    margin-right: auto;
    margin-left: auto;

}

#sectioner-uv {
    display: grid;
    padding: 1em;
    grid-template-columns: auto;
    margin-bottom: 10vw;
}

article {
    /*    background-color: #A59B91;*/
    color: #776B5F;
}



#section-bornehave,
#section-folkeskole,
#section-gymnasium {
    text-align: center;
    padding: 1em;
    border-top: solid #776B5F;
    color: #776B5F;

}

#sectioner-uv .laesmere {
    text-decoration: none;
    padding: 10px 45px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform .1s;
    font-size: 15px;
    align-self: flex-end;

}

.laesmere:hover {
    transform: scale(1.1);
}


.sections-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1vw;
    padding-left: 2.5vw;
    color: #776B5F;
}



/************ MEDIA QUERIES DESKTOP ******************/
@media only screen and (min-width: 1160px) {

    #logo-kalklandet img {
        width: 110%;
    }

    #mobile-nav {
        display: none;
    }


    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2010;
        float: right;

    }

    #desktop .drop-down {
        color: white;
        background-color: #776B5F;
    }

    #menuknap-mobile {
        display: none;
    }


    .besog1 {
        position: absolute;
        top: 10vw;
        left: 25vw;
        color: white;
        font-size: 5vw;
        text-shadow: 1px 1px 2px black;

    }

    button {
        align-self: end;
        justify-self: end;


    }


    #bornehave-ikon {
        width: 180px;
        height: 185px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.46);
    }

    #folkeskole-ikon {
        width: 180px;
        height: 185px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.46);
    }

    #gymnasium-ikon {
        width: 180px;
        height: 185px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.46);
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }


    .ny_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 0;
        grid-gap: 2vw;
    }

    #section-bornehave,
    #section-folkeskole,
    #section-gymnasium {
        padding-top: 6vw;
        padding-bottom: 0;
    }



    .intro-text-uv {
        grid-template-columns: auto auto;
        margin-top: 0;

    }


    .forside-data {
        border-right-style: solid;
        border-right-color: #776B5F;
    }

    .sections-info {
        grid-template-columns: 500px 500px;
        place-self: center;
    }

    .right {
        padding-left: 5vw;

    }

    .left {

        padding-right: 4vw;
    }



    #section-bornehave,
    #section-folkeskole,
    #section-gymnasium {
        font-size: 4vw;
    }

}
